@media screen and (min-width: 700px){
    .container {
        max-width: 720px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0% auto;

    }
    
}

@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0% auto;

    }
    
}

.container {
    max-width: 1190px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0% auto;
}

