.footer {
   background: #F4F4F4;
   width: 100%;
   padding-top: 70px;
   padding-bottom: 70px;

}

.quastions-title {
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 2.4px;
}

.footer-quastions {
    display: block;
}

.quastions-text {
    font-family: $font-lato;
    color: $main-c-bl;
    font-weight: 400;
    font-size: $font-sz-16;
    line-height: 26.56px;
    letter-spacing: 1.6px;
}

.footer-body {
    display: flex;
    justify-content: center;
}

.footer-copyright {
    margin-left: 56px;
    display: flex;
    position: relative;
    top: 16px;
    align-items: end;
}

.copyraight-text {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px;
    font-family: $font-lato;
    letter-spacing: 1.2px;
    position: relative;
    top: 27px;
}

.footer-list {
    display: flex;
    gap: 23px;
    max-width: 270px;
    margin-left: 165px;
    align-items: center;
}

.list-item {
    width: 50px;
    height: 50px;
    border: 1px solid #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.list-item {
    fill: #565656;
  }
  
  .list-item:hover {
    background-color: #565656;
  }
  
  .list-item:hover svg {
    fill: white;
  }

  @media screen and (max-width: 1010px){
    .footer-body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
    }

  }

  @media screen and (max-width: 1010px) {
    .footer-copyright {
        position: static;
        top: 0;
        margin-left: 0%;
        order: 2;
    }
  }

  
  @media screen and (max-width: 1010px) {
    .footer-list {
    margin-right: 0%;
    margin-left: 0%;
    order: 1;
    }

    .copyraight-text {
        position: static;
    }
  }

  @media screen and (max-width: 700px) {
    .quastions-title {
        font-size: 32px;
    
    }
  }

  
  @media screen and (max-width: 500px) {
    .title {
        font-size: 40px;
        text-align: center;
    
    }
  }

  @media screen and (max-width: 420px) {
    body {
        text-align: center;
    }

    .title {
        font-size: 30px;
        white-space: nowrap;
    }
  }